@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=latin-ext");
body { display: -ms-flexbox; display: flex; justify-content: flex-start; align-items: baseline; flex-direction: column; }
body .stickyWrapper { display: -ms-flexbox; display: flex; justify-content: flex-start; align-items: baseline; flex: 1 1 auto; flex-flow: column wrap; width: 100%; min-height: 100vh; margin: 0; padding: 0; }
body .stickyWrapper .pageWrapper { flex: 1 1 auto; width: 100%; }

* { position: relative; box-sizing: border-box; -moz-box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, img, ins, kbd, q, s, samp, small, strike, sub, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font-style: inherit; line-height: 1; vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, menu, nav, section { display: block; }

ol, ul { list-style: none; margin: 0; padding: 0; }

blockquote, q { quotes: none; padding-left: 1em; font-size: 1.125rem; font-style: italic; line-height: 1.43; }

table { border-collapse: collapse; border-spacing: 0; }

code { font-family: monospace; }

b, strong { font-weight: bold; }

.clear { clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }

.clearfix:after { clear: both; content: ' '; display: block; font-size: 0; line-height: 0; visibility: hidden; width: 0; height: 0; }

img { display: block; width: 100%; margin: 0; padding: 0; border: none; outline: none; }

a { outline: none; text-decoration: none; }

.btn--toggleMenu { -webkit-appearance: none; -moz-appearance: none; appearance: none; border: none; outline: none; cursor: pointer; float: right; width: 40px; height: 38px; border-radius: 3px; border-bottom: 2px solid #2c3e50; background: #34495e; }
.btn--toggleMenu.open span:nth-child(1) { top: 10px; width: 0; left: 0; right: 0; opacity: 0; }
.btn--toggleMenu.open span:nth-child(2) { -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); }
.btn--toggleMenu.open span:nth-child(3) { -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg); }
.btn--toggleMenu.open.open span:nth-child(4) { top: 26px; width: 0; left: 0; right: 0; opacity: 0; }
.btn--toggleMenu span { -webkit-transition: all ease-in-out 0.25s; -moz-transition: all ease-in-out 0.25s; -ms-transition: all ease-in-out 0.25s; -o-transition: all ease-in-out 0.25s; transition: all ease-in-out 0.25s; -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); display: block; position: absolute; left: 0; right: 0; width: 50%; height: 2px; margin: 0 auto; background: #fff; opacity: 1; }
.btn--toggleMenu span:nth-child(1) { top: 10px; }
.btn--toggleMenu span:nth-child(2), .btn--toggleMenu span:nth-child(3) { top: 18px; }
.btn--toggleMenu span:nth-child(4) { top: 26px; }

h2, h3, h4, h5, h6 { margin-bottom: 1em; line-height: 1.2; }

h3 { font-size: 1.75rem; }

h4 { font-size: 1.5rem; }

h5 { font-size: 1.25rem; }

h6 { font-size: 1rem; }

h2.pageTitle, h2.pageTitle--grouped { font-size: 2em; font-weight: 300; }

h2.pageTitle:after, h3.pageSubtitle:after, h3.pageSubtitle--grouped:after { display: block; position: absolute; bottom: -8px; left: 0; right: 0; width: 150px; height: 2px; background: #34495e; content: ""; }

h2.pageTitle--grouped { margin-bottom: 0; }

h3.pageSubtitle { font-weight: 300; }
h3.pageSubtitle--grouped { font-weight: 300; font-size: 1em; margin-bottom: 32px; }

.statText * { line-height: 1.5; }
.statText h3, .statText h4, .statText h5, .statText h6 { font-weight: 300; line-height: 1.2; }
.statText p { margin-bottom: 1em; }
.statText ul { padding-left: 24px; list-style-type: decimal; }
.statText ul li { margin-bottom: 1em; }
.statText a { color: #4aa3df; }
.statText code { padding: 0.25rem 0.5rem; border-radius: 3px; background: rgba(0, 0, 0, 0.75); color: white; }

header { display: -ms-flexbox; display: flex; justify-content: center; align-items: baseline; width: 100%; padding: 16px 0; }

.headerWrapper { width: 90%; max-width: 1440px; flex-basis: 90%; }

.header__seoWrapper { position: absolute; width: 1px; height: 1px; overflow: hidden; text-indent: 100%; white-space: nowrap; }

.mobilFooter { display: -ms-flexbox; display: flex; justify-content: flex-start; align-items: baseline; flex-direction: column; margin-bottom: 24px; }
.mobilFooter .mobilFooter__item, .mobilFooter .mobilFooter__item--jumpTo { display: -ms-flexbox; display: flex; justify-content: center; align-items: center; width: 100%; max-width: 100%; flex-basis: 100%; height: 36px; border-bottom: 1px solid rgba(255, 255, 255, 0.1); color: white; text-align: center; }
.mobilFooter__item--jumpTo svg { width: 28px; height: auto; fill: white; }
@media only screen and (min-width: 1024px) { .mobilFooter { display: none; } }

footer { width: 100%; background: #2c3e50; padding: 0 0 24px 0; }
@media only screen and (min-width: 1024px) { footer { padding: 24px 0; } }

body { background: url(../images/skulls.png); font-family: 'Poppins', sans-serif; }

.pageWrapper { display: -ms-flexbox; display: flex; justify-content: center; align-items: baseline; position: static; width: 100%; padding: 40px 0 60px 0; }

.contentWrapper { width: 90%; max-width: 1440px; flex-basis: 90%; position: static; }

.statText { margin-bottom: 40px; }

.jumpTo-top { display: none; }
@media only screen and (min-width: 1024px) { .jumpTo-top { display: -ms-flexbox; display: flex; justify-content: center; align-items: center; -webkit-transition: opacity linear 0.75s; -moz-transition: opacity linear 0.75s; -ms-transition: opacity linear 0.75s; -o-transition: opacity linear 0.75s; transition: opacity linear 0.75s; opacity: 0; position: fixed; right: 16px; bottom: 16px; width: 36px; height: 36px; border-radius: 3px; background: #34495e; z-index: 1000; cursor: default; }
  .jumpTo-top svg { width: 24px; height: auto; fill: white; }
  .jumpTo-top.visible { opacity: 1; cursor: pointer; } }

.colorCards { display: -ms-grid; display: grid; justify-content: center; align-items: center; grid-template-columns: repeat(auto-fit, minmax(288px, 1fr)); grid-gap: 32px; width: 90%; height: 100%; margin: 0 auto; }

.colorCard { -webkit-transition: transform ease-out 0.2s linear 1s; -moz-transition: transform ease-out 0.2s linear 1s; -ms-transition: transform ease-out 0.2s linear 1s; -o-transition: transform ease-out 0.2s linear 1s; transition: transform ease-out 0.2s linear 1s; display: -ms-grid; display: grid; justify-content: start; align-items: normal; width: 100%; grid-template-columns: 1fr 1fr; grid-template-rows: 150px auto; background: white; border-bottom: 3px solid gray; border-radius: 5px; overflow: hidden; }

.colorCard__data { grid-column-start: 1; grid-column-end: 3; margin-top: 1px; border-top: 1px solid #ddd; padding: 16px; color: gray; }

.colorCard__data__name { font-size: 24px; font-weight: 300; text-transform: uppercase; }

.colorCard__data__hexa { font-size: 12px; }

.colorCard__data__copyDone { -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; -o-user-select: none; user-select: none; display: none; position: absolute; top: 0; right: 16px; bottom: 0; height: 26px; margin: auto 0; padding: 4px 8px; border: 1px solid gray; border-radius: 3px; background: rgba(0, 0, 0, 0.0375); cursor: default; }

.colorCard__colorSample--light, .colorCard__colorSample--dark { display: -ms-flexbox; display: flex; justify-content: center; align-items: center; }
.colorCard__colorSample--light span, .colorCard__colorSample--dark span { transition: opacity ease-in .25s; padding: 8px 16px; border: 1px solid white; border-radius: 3px; background: rgba(0, 0, 0, 0.1); color: white; font-size: 12px; text-transform: uppercase; cursor: pointer; opacity: 0; }
.colorCard__colorSample--light input, .colorCard__colorSample--dark input { opacity: 0; position: absolute; left: 0; top: 0; }
.colorCard__colorSample--light:hover span, .colorCard__colorSample--dark:hover span { opacity: 1; }

nav { -webkit-transform: translateX(-100%); -moz-transform: translateX(-100%); -ms-transform: translateX(-100%); -o-transform: translateX(-100%); transform: translateX(-100%); -webkit-transition: transform ease-in-out 0.2s; -moz-transition: transform ease-in-out 0.2s; -ms-transition: transform ease-in-out 0.2s; -o-transition: transform ease-in-out 0.2s; transition: transform ease-in-out 0.2s; flex-wrap: wrap; position: fixed; top: 0; left: 0; width: 100%; max-width: 420px; height: 100%; padding: 32px 16px; background: white; border-right: 2px solid #dddddd; box-shadow: 0 0 30px rgba(0, 0, 0, 0.3); z-index: 100; }
nav.open { -webkit-transform: translateX(0); -moz-transform: translateX(0); -ms-transform: translateX(0); -o-transform: translateX(0); transform: translateX(0); }
nav h3.pageSubtitle { font-size: 1.25rem; padding-right: 44px; }
nav h3.pageSubtitle:after { height: 1px; }
nav .btn--closeMenu { display: -ms-flexbox; display: flex; justify-content: flex-end; align-items: flex-start; width: 36px; height: 36px; position: absolute; top: 32px; right: 16px; cursor: pointer; z-index: 10; }
nav .btn--closeMenu svg { width: 40%; max-width: 40%; flex-basis: 40%; margin: 5px 0 0; }
nav .btn--closeMenu svg polygon { fill: gray; }

.toggleMenu { width: 100%; background: white; }
.toggleMenu .toggleMenu__item a, .toggleMenu__item .toggleMenu a, .toggleMenu .toggleMenu__item--active a, .toggleMenu__item--active .toggleMenu a { display: block; padding: 10px 8px; z-index: 2; }
.toggleMenu__item { margin-bottom: 4px; }
@media only screen and (min-width: 1024px) { .toggleMenu__item { overflow: hidden; }
  .toggleMenu__item:before { -webkit-transition: transform cubic-bezier(0.835, -0.005, 0.06, 1) 0.45s; -moz-transition: transform cubic-bezier(0.835, -0.005, 0.06, 1) 0.45s; -ms-transition: transform cubic-bezier(0.835, -0.005, 0.06, 1) 0.45s; -o-transition: transform cubic-bezier(0.835, -0.005, 0.06, 1) 0.45s; transition: transform cubic-bezier(0.835, -0.005, 0.06, 1) 0.45s; -webkit-transform: scaleX(0); -moz-transform: scaleX(0); -ms-transform: scaleX(0); -o-transform: scaleX(0); transform: scaleX(0); position: absolute; background: #34495e; top: 0; left: -5%; width: 110%; height: 100%; -webkit-transform-origin: right; transform-origin: right; will-change: transform; content: ""; z-index: 1; }
  .toggleMenu__item:hover a { color: white; }
  .toggleMenu__item:hover:before { -webkit-transform: scaleX(1); -moz-transform: scaleX(1); -ms-transform: scaleX(1); -o-transform: scaleX(1); transform: scaleX(1); -webkit-transform-origin: left; transform-origin: left; } }
.toggleMenu__item a { -webkit-transition: color cubic-bezier(0.475, 0.425, 0, 0.995) 0.45s; -moz-transition: color cubic-bezier(0.475, 0.425, 0, 0.995) 0.45s; -ms-transition: color cubic-bezier(0.475, 0.425, 0, 0.995) 0.45s; -o-transition: color cubic-bezier(0.475, 0.425, 0, 0.995) 0.45s; transition: color cubic-bezier(0.475, 0.425, 0, 0.995) 0.45s; color: gray; }
.toggleMenu__item--active { margin-bottom: 4px; background: #34495e; }
.toggleMenu__item--active a { color: white; }

.gridLines { display: -ms-flexbox; display: flex; justify-content: flex-start; align-items: flex-start; }
.gridLines:last-child div, .gridLines div:nth-child(2n) { background: #34495e; }

.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12 { display: block; margin: 0 2% 8px 0; border-radius: 3px; color: white; background: #2c3e50; text-align: center; line-height: 36px; }

.grid-1 { width: 6.5%; max-width: 6.5%; flex-basis: 6.5%; }

.grid-2 { width: 15%; max-width: 15%; flex-basis: 15%; }

.grid-3 { width: 23.5%; max-width: 23.5%; flex-basis: 23.5%; }

.grid-4 { width: 32%; max-width: 32%; flex-basis: 32%; }

.grid-5 { width: 40.5%; max-width: 40.5%; flex-basis: 40.5%; }

.grid-6 { width: 49%; max-width: 49%; flex-basis: 49%; }

.grid-7 { width: 57.5%; max-width: 57.5%; flex-basis: 57.5%; }

.grid-8 { width: 66%; max-width: 66%; flex-basis: 66%; }

.grid-9 { width: 74.5%; max-width: 74.5%; flex-basis: 74.5%; }

.grid-10 { width: 83%; max-width: 83%; flex-basis: 83%; }

.grid-11 { width: 91.5%; max-width: 91.5%; flex-basis: 91.5%; }

.grid-12 { width: 100%; max-width: 100%; flex-basis: 100%; }

.madeBy { width: 100%; color: white; font-size: 0.6875rem; text-align: center; }

/*# sourceMappingURL=style.css.map */
