// >> Circle Cursor Style --- >

.customCursor{
    height: 36px;
    width: 36px;
    position: absolute;
    //transform: translateX(-50%) translateY(-50%);
    z-index: 100000;
    pointer-events: none;
}

.circleCursor {
    position: absolute;
    top: -50%;
    left: -50%;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 3px solid w(0.8);
    content: "";

}
