// >> Base Header Style --- >

header{
    @include flex(center, baseline);
    width: 100%;
    padding: 16px 0;
}
.headerWrapper{
    width: 90%;
    max-width: $contentWidth;
    flex-basis: 90%;
}
.header__seoWrapper{
    @include hiddenText;
}
