<li class="wednesdayFree--01"></li>
<li class="wednesdayClass--DU1">
    <div class="training">
        <div class="training__name">Personal Training</div>
        <div class="training__time">13:00 - 14:00</div>
        <div class="training__trainer">Strong Steve</div>
        <div class="training__limit">Max 1 person</div>
    </div>
</li>
<li class="wednesdayClass--DU2">
    <div class="training">
        <div class="training__name">Personal Training</div>
        <div class="training__time">14:00 - 15:00</div>
        <div class="training__trainer">Strong Steve</div>
        <div class="training__limit">Max 1 person</div>
    </div>
</li>
<li class="wednesdayClass--DU3">
    <div class="training">
        <div class="training__name">Personal Training</div>
        <div class="training__time">15:00 - 16:00</div>
        <div class="training__trainer">Strong Steve</div>
        <div class="training__limit">Max 1 person</div>
    </div>
</li>
<li class="wednesdayClass--DU4 group">
    <div class="training">
        <div class="training__name">Group Training</div>
        <div class="training__time">16:00 - 17:00</div>
        <div class="training__trainer">Strong Steve</div>
        <div class="training__limit">Max 8 person</div>
    </div>
</li>
<li class="wednesdayClass--DU5 group">
    <div class="training">
        <div class="training__name">Group Training</div>
        <div class="training__time">17:00 - 18:00</div>
        <div class="training__trainer">Strong Steve</div>
        <div class="training__limit">Max 8 person</div>
    </div>
</li>
<li class="wednesdayClass--DU6 open">
    <div class="training">
        <div class="training__name">Personal Training</div>
        <div class="training__time">18:00 - 19:00</div>
        <div class="training__trainer">Strong Steve</div>
        <div class="training__limit">Max 3 person</div>
    </div>
</li>