<li class="mondayFree--01"></li>
<li class="mondayClass--DU1">
    <div class="training">
        <div class="training__name">Personal Training</div>
        <div class="training__time">13:30 - 14:30</div>
        <div class="training__trainer">Strong Steve</div>
        <div class="training__limit">Max 1 person</div>
    </div>
</li>
<li class="mondayClass--DU2 open">
    <div class="training">
        <div class="training__name">Personal Training</div>
        <div class="training__time">14:30 - 15:30</div>
        <div class="training__trainer">Strong Steve</div>
        <div class="training__limit">Max 3 person</div>
    </div>
</li>
<li class="mondayFree--02"></li>
<li class="mondayClass--DU3 group">
    <div class="training">
        <div class="training__name">Group Training</div>
        <div class="training__time">16:00 - 17:00</div>
        <div class="training__trainer">Strong Steve</div>
        <div class="training__limit">Max 8 person</div>
    </div>
</li>
<li class="mondayClass--DU4 group">
    <div class="training">
        <div class="training__name">Group Training</div>
        <div class="training__time">17:00 - 18:00</div>
        <div class="training__trainer">Strong Steve</div>
        <div class="training__limit">Max 8 person</div>
    </div>
</li>
<li class="mondayClass--DU5 open">
    <div class="training">
        <div class="training__name">Personal Training</div>
        <div class="training__time">18:00 - 19:00</div>
        <div class="training__trainer">Strong Steve</div>
        <div class="training__limit">Max 3 person</div>
    </div>
</li>