<li class="tableHead"></li>
<li class="table__time--1">08:00</li>
<li class="table__time--2">08:30</li>
<li class="table__time--3">09:00</li>
<li class="table__time--4">09:30</li>
<li class="table__time--5">10:00</li>
<li class="table__time--6">10:30</li>
<li class="table__time--7">11:00</li>
<li class="table__time--8">11:30</li>
<li class="table__time--9">12:00</li>
<li class="table__time--10">12:30</li>
<li class="table__time--11">13:00</li>
<li class="table__time--12">13:30</li>
<li class="table__time--13">14:00</li>
<li class="table__time--14">14:30</li>
<li class="table__time--15">15:00</li>
<li class="table__time--16">15:30</li>
<li class="table__time--17">16:00</li>
<li class="table__time--18">16:30</li>
<li class="table__time--19">17:00</li>
<li class="table__time--20">17:30</li>
<li class="table__time--21">18:00</li>
<li class="table__time--22">18:30</li>