<li class="tableHead">Péntel</li>
<li class="fridayClass--DE1">
    <div class="training">
        <div class="training__name">Personal Training</div>
        <div class="training__time">08:00 - 09:00</div>
        <div class="training__trainer">Strong Steve</div>
        <div class="training__limit">Max 1 person</div>
    </div>
</li>
<li class="fridayClass--DE2">
    <div class="training">
        <div class="training__name">Personal Training</div>
        <div class="training__time">09:00 - 10:00</div>
        <div class="training__trainer">Strong Steve</div>
        <div class="training__limit">Max 1 person</div>
    </div>
</li>
<li class="fridayClass--DE3">
    <div class="training">
        <div class="training__name">Personal Training</div>
        <div class="training__time">10:00 - 11:00</div>
        <div class="training__trainer">Strong Steve</div>
        <div class="training__limit">Max 1 person</div>
    </div>
</li>
<li class="fridayClass--DE4">
    <div class="training">
        <div class="training__name">Personal Training</div>
        <div class="training__time">11:00 - 12:00</div>
        <div class="training__trainer">Strong Steve</div>
        <div class="training__limit">Max 1 person</div>
    </div>
</li>
