<ul class="sectionNav">
    <li class="sectionNav__item">
        <a href="#section--no1">1</a>
        <div class="sectionTitle">
            <span>Section Title</span>
        </div>
    </li>
    <li class="sectionNav__item">
        <a href="#section--no2">2</a>
        <div class="sectionTitle">
            <span>Long Section Title</span>
        </div>
    </li>
    <li class="sectionNav__item">
        <a href="#section--no3">3</a>
        <div class="sectionTitle">
            <span>Longer Section Title</span>
        </div>
    </li>
    <li class="sectionNav__item">
        <a href="#section--no4">4</a>
        <div class="sectionTitle">
            <span>Section Title</span>
        </div>
    </li>
</ul>