<nav class="nav--leftSide">
    <h3 class="pageSubtitle">Home</h3>
    <ul class="toggleMenu">
        <li class="{% if page.url == '/' %}toggleMenu__item--active{% else %}toggleMenu__item{% endif %}">
            <a href="{{site.baseurl}}/index.html">Home</a>
        </li>
        <li class="{% if page.url == '/headlines.html' %}toggleMenu__item--active{% else %}toggleMenu__item{% endif %}">
            <a href="{{site.baseurl}}/headlines.html">Headlines</a>
        </li>
        <li class="{% if page.url == '/flat-colors.html' %}toggleMenu__item--active{% else %}toggleMenu__item{% endif %}">
            <a href="{{site.baseurl}}/flat-colors.html">Flat Colors</a>
        </li>
    </ul>
</nav>
