<nav class="nav--leftSide">
    <h3 class="pageSubtitle"></h3>
    <ul class="toggleMenu">
        <li class="{% if page.url == '/' %}toggleMenu__item--active{% else %}toggleMenu__item{% endif %}">
            <a href="{{site.baseurl}}/index.html">Home</a>
        </li>
        <li class="{% if page.url == '/headlines.html' %}toggleMenu__item--active{% else %}toggleMenu__item{% endif %}">
            <a href="{{site.baseurl}}/headlines.html">Headlines</a>
        </li>
        <li class="{% if page.url == '/content-and-submenu.html' %}toggleMenu__item--active{% else %}toggleMenu__item{% endif %}">
            <a href="{{site.baseurl}}/content-and-submenu.html" title="Content & Submenu">Section Navigation & Submenu</a>
            <div class="btn--openSub" title="Submenu">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <ul class="toggleSubmenu">
                <li class="{% if page.url == '/content-and-submenu__01.html' %}toggleSubmenu__item--active{% else %}toggleSubmenu__item{% endif %}">
                    <a href="{{site.baseurl}}/content-and-submenu__01.html">Submenu 01</a>
                </li>
                <li class="toggleSubmenu__item">
                    <a href="#">Submenu 02</a>
                </li>
                <li class="toggleSubmenu__item">
                    <a href="#">Submenu 03</a>
                </li>
                <li class="toggleSubmenu__item">
                    <a href="#">Submenu 04</a>
                </li>
            </ul>
        </li>
        <li class="{% if page.url == '/flat-colors.html' %}toggleMenu__item--active{% else %}toggleMenu__item{% endif %}">
            <a href="{{site.baseurl}}/flat-colors.html">Flat Colors</a>
        </li>
        <li class="{% if page.url == '/loremText.html' %}toggleMenu__item--active{% else %}toggleMenu__item{% endif %}">
            <a href="{{site.baseurl}}/loremText.html">Lorem Text</a>
        </li>
        <li class="{% if page.url == '/responsiveTable.html' %}toggleMenu__item--active{% else %}toggleMenu__item{% endif %}">
            <a href="{{site.baseurl}}/responsiveTable.html">Responsive Table</a>
        </li>
        <li class="{% if page.url == '/grids.html' %}toggleMenu__item--active{% else %}toggleMenu__item{% endif %}">
            <a href="{{site.baseurl}}/grids.html">Grids</a>
        </li>
        <li class="{% if page.url == '/parallaxHeader.html' %}toggleMenu__item--active{% else %}toggleMenu__item{% endif %}">
            <a href="{{site.baseurl}}/parallaxHeader.html">Parallax Header</a>
        </li>
        <li class="{% if page.url == '/forms.html' %}toggleMenu__item--active{% else %}toggleMenu__item{% endif %}">
            <a href="{{site.baseurl}}/forms.html">Form</a>
        </li>
        <li class="{% if page.url == '/floatingElements.html' %}toggleMenu__item--active{% else %}toggleMenu__item{% endif %}">
            <a href="{{site.baseurl}}/floatingElements.html">Floating elements</a>
        </li>
        <li class="{% if page.url == '/promoScope.html' %}toggleMenu__item--active{% else %}toggleMenu__item{% endif %}">
            <a href="{{site.baseurl}}/promoScope.html">Promo Scope</a>
        </li>
    </ul>
</nav>