// >> Scrolling Sections Style --- >

.pageWrapper.scrollingContent{
    padding: 0;
}
.scrollingSections{
    width: 100%;
    section{
        @include clearFix;
        position: static;
        width: 100%;
        height: 100vh;
        &#section-01 .sectionContent__inner{
            background: url("../images/scrolling-01.jpg") no-repeat center center / cover;
        }
        &#section-02 .sectionContent__inner{
            background: url("../images/scrolling-02.jpg") no-repeat center center / cover;
        }
        &#section-03 .sectionContent__inner{
            background: url("../images/scrolling-03.jpg") no-repeat center center / cover;
        }
        &:first-child{
            position: relative;
            .sectionContent__inner{
                opacity: 1;
            }
            .sectionContent{
                position: relative;
            }
        }
        &.scrolling{
            .sectionContent{
                position: relative;
            }
        }
        .sectionContent{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            background: black;
        }
        .sectionContent__inner{
            @include flex(center, center);
            position: relative;
            width: 100%;
            height: 100%;
            opacity: 0;
            content: "";
            .contentWrapper{
                padding: 25px;
                background: w(0.75);
            }
        }
    }
}