// >> Left Side Menu Style --- >
nav{
    @include transform(translateX, -100%);
    @include transition(transform, ease-in-out, 0.2s);
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 420px;
    height: 100%;
    padding: 32px 16px;
    background: white;
    border-right: 2px solid $base-borderColor;
    box-shadow: 0 0 30px b(0.3);
    z-index: 100;
    &.open{
        @include transform(translateX, 0);
    }
    h3.pageSubtitle{
        font-size: rem(20px);
        padding-right: 44px;
        &:after{
            height: 1px;
        }
    }
    .btn--closeMenu{
        @include flex(flex-end, flex-start);
        width: 36px;
        height: 36px;
        position: absolute;
        top: 32px;
        right: 16px;
        cursor: pointer;
        z-index: 10;
        svg{
            @include flexWidth(40%);
            margin: 5px 0 0;
            polygon{
                fill: $base-fontColor;
            }
        }
    }
}
.toggleMenu{
    width: 100%;

    background: white;
    // toggleMenu__item a
    %menuLink{
        display: block;
        padding: 10px 8px;
        z-index: 2;
    }
    // toggleMenu__item
    @include e(item){
        margin-bottom: 4px;
        @include mq($ipad-land){
            overflow: hidden;
            &:before{
                @include transition(transform, cubic-bezier(.835,-.005,.06,1), 0.45s);
                @include transform(scaleX, 0);
                position: absolute;
                background: $flat-color_8;
                top: 0;
                left: -5%;
                width: 110%;
                height: 100%;
                -webkit-transform-origin: right;
                transform-origin: right;
                will-change: transform;
                content: "";
                z-index:1;
            }
            &:hover{
                a{
                    color: white;
                }
                &:before{
                    @include transform(scaleX, 1);
                    -webkit-transform-origin: left;
                    transform-origin: left;
                }
            }
        }
        a{
            @extend %menuLink;
            @include transition(color, cubic-bezier(.475,.425,0,.995), 0.45s);
            color: $base-fontColor;
        }
        // toggleMenu__item--active
        @include m(active){
            margin-bottom: 4px;
            background: $flat-color_8;
            a{
                @extend %menuLink;
                color: white;
            }
        }
    }
}