// >> Toggle Menu Style --- >


nav{
    @include flex(flex-end);
    width: 100%;

}
.toggleMenu{
    display: none;
    position: absolute;
    top: 56px;
    right: 0;
    width: 100%;
    background: white;
    z-index: 1000;
    // toggleMenu__item a
    %menuLink{
        display: block;
        padding: 10px 8px;
    }
    // toggleMenu__item
    @include e(item){
        a{
            @extend %menuLink;
            color: $base-fontColor;
        }
        // toggleMenu__item--active
        @include m(active){
            background: $flat-color_8;
            a{
                @extend %menuLink;
                color: white;
            }
        }
    }
}