<!DOCTYPE html>
<html lang="hu-HU">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no,">
		<title>{{page.title}}</title>
		<meta name="description" content="Description">
		<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/style.css">
		<meta http-equiv="X-UA-Compatible" content="IE=9;IE=10;IE=Edge,chrome=1"/>
		<!-- RealFavicon -->
		<!-- Open Graph Protocol -->
    	<!-- Dublin Core -->
    	<!-- Analytics -->
	</head>
	<body>
        <div id="jumpHere" class="stickyWrapper">
            <header>
            	<div class="headerWrapper">
            		<a href="index.html" class="header__logo">
            			{% include header__seoWrapper.html %}
            		</a>
					<button type="button" name="toggleMenu" class="btn--toggleMenu">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</button>
            	</div>
            </header>
			<div class="pageWrapper">
				<div class="contentWrapper">
					{% include nav.html %}
            		{{content}}
				</div>
				<a href="#jumpHere" class="jumpTo-top">
					<?xml version="1.0" ?><!DOCTYPE svg  PUBLIC '-//W3C//DTD SVG 1.1//EN'  'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'><svg id="Layer_1" version="1.1" viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><polygon points="396.6,352 416,331.3 256,160 96,331.3 115.3,352 256,201.5 "/></svg>
				</a>
			</div>
			<footer class="pageFooter">
				{% include footer__mobil.html %}
				{% include footer__madeBy.html %}
			</footer>
        </div>
		<div class="circlePointer"></div>
		<div class="circleCursor"></div>
		<!--JS import-->
		<script src="{{site.baseurl}}/js/jquery-3.3.1.min.js" defer></script>
		<script type="text/javascript" src="{{site.baseurl}}/js/words.js" defer></script>
		<script type="text/javascript" src="{{site.baseurl}}/js/jquery.lorem.js" defer></script>
		<script src="{{site.baseurl}}/js/public.js" defer></script>
	</body>
</html>
