// >> Config project --- >

// Brand color-samples

$flat-color_1: #1abc9c;
$flat-color_8: #34495e;
$flat-color_10: #2c3e50;


// Base Project Setting
$base-fontFamily: "'Poppins', sans-serif";
$base-fontSize: rem(16px);
$base-fontColor: gray;
$base-radius: 3px;
$base-linkColor: #4aa3df;

$contentWidth: 1200px;

// Breakpoints
$mobil-m:     520px;
$ipad-port:   756px;
$ipad-land:   1024px;
$notebook-s:  1200px;
$notebook-m:  1360px;
$pc:          1900px;

// Buttons
